---
import Layout from "../layouts/Layout.astro";
import GalleryCard from "../components/GalleryCard.astro";
import Button from "../components/Button.astro";
 
const url = "https://hvqqqwpdmwotjgxebrxv.supabase.co/rest/v1/someotherwaves";
const apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2cXFxd3BkbXdvdGpneGVicnh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU2MDY4NzQsImV4cCI6MjA0MTE4Mjg3NH0.K9dKO1K4NQBdSCsqBZHh1Yc4L8VNHDBNgRCzsI0fSSQ";
const data = await fetch(url, {
  headers: {
    apikey: apiKey
  }
}).then(res=>res.json())
---

<Layout>
    <section>
        <h1>Galleri</h1>
        <div id="btn_container">
            <button class="btn active" onclick="filterSelection('all')"> Alle</button>
            <button class="btn" onclick="filterSelection('wall')">Væg</button>
            <button class="btn" onclick="filterSelection('ceiling')">Loft</button>
            <button class="btn" onclick="filterSelection('collabs')">Sammarbejde</button>
            <button class="btn" onclick="filterSelection('products')">Produkter</button>
        </div>
        <div class="galleri">
            {
            data.map((painting) => <GalleryCard data={painting} />)
            }
        </div>
        <div class="cta">
            <h2>Drømmer du om et<br>evighedskunstværk?</h2>
            <Button><a href="/bestillingsguide">Se guiden</a></Button>
        </div>
    </section>
</Layout>


<script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("column");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("btn_container");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
    </script>


<style>
 main{
    width: 100% !important;
}
h1{
    margin: 30px;
}
 section{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#btn_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: auto;
    padding: 0 25px;
}
.btn{
    background-color: var(--neutral);
    border: 2px solid var(--red); 
    border-radius: 50px;
    color: var(--red);
    font-weight: 900;
    font-size: 12px;
    padding: 10px 25px;
    cursor: pointer;
    transition-duration: .25s;
}
.active, .btn:hover{
    background-color: var(--red);
    color: var(--neutral);
}
.galleri{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1084px;
    margin: 50px 0;
}
h2{
    text-align: center;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* ----- Desktop ----- */
@media screen and (min-width: 1000px) {
    
    .btn{
        font-weight: bold;
        font-size: 14px;
        padding: 10px 45px;
        border: 2.5px solid var(--red); 
    }
}
</style>