---
import Layout from "../layouts/Layout.astro";
import GalleryCard from "../components/GalleryCard.astro";
import Button from "../components/Button.astro";
 
const url = "https://hvqqqwpdmwotjgxebrxv.supabase.co/rest/v1/someotherwaves";
const apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2cXFxd3BkbXdvdGpneGVicnh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU2MDY4NzQsImV4cCI6MjA0MTE4Mjg3NH0.K9dKO1K4NQBdSCsqBZHh1Yc4L8VNHDBNgRCzsI0fSSQ";
const data = await fetch(url, {
  headers: {
    apikey: apiKey
  }
}).then(res=>res.json())
---

<Layout>
    <section>
        <h1>Galleri</h1>
        <div id="btn_container">
            <button class="btn active" data-filter="all">Alle</button>
            <button class="btn" data-filter=wall>Væg</button>
            <button class="btn" data-filter=ceiling>Loft</button>
            <button class="btn" data-filter=collabs>Sammarbejde</button>
            <button class="btn" data-filter=products>Produkter</button>

            <!-- <button class="btn active" onclick="filterSelection('all')"> Alle</button>
            <button class="btn" onclick="filterSelection('wall')">Væg</button>
            <button class="btn" onclick="filterSelection('ceiling')">Loft</button>
            <button class="btn" onclick="filterSelection('collabs')">Sammarbejde</button>
            <button class="btn" onclick="filterSelection('products')">Produkter</button> -->
        </div>
        <div class="galleri">
            {
            data.map((painting) => <GalleryCard data={painting} />)
            }
        </div>
        <div class="cta">
            <h2>Drømmer du om et<br>evighedskunstværk?</h2>
            <Button><a href="/bestillingsguide">Se guiden</a></Button>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

    </section>
</Layout>


<script>
    // Get all the buttons and pics
    const images = document.querySelectorAll(".column");
    const buttons = document.querySelectorAll(".btn");
    // Adds event listener to buttons then refers it to filter function
    buttons.forEach(column=>column.addEventListener("click", filtrer));

    function filtrer(){
    document.querySelector(".active").classList.remove("active");
    this.classList.add("active");
    
    images.forEach(elm=>{
      if(elm.dataset.filter == this.dataset.filter || this.dataset.filter == "all"){
        elm.classList.remove("hidden");
      }else{
        elm.classList.add("hidden");
      }
    })
      // Add active class to the current button (highlight it)
    //   var btnContainer = document.getElementById("btn_container");
    // var btns = btnContainer.getElementsByClassName("btn");
    // for (var i = 0; i < btns.length; i++) {
    //   btns[i].addEventListener("click", function(){
    //     var current = document.getElementsByClassName("active");
    //     current[0].className = current[0].className.replace(" active", "");
    //     this.className += " active";
    //   });
    // }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
  }
</script>


<style>
 main{
    width: 100% !important;
}
h1{
    /* margin: 30px; */
    margin-top: 150px;
}
.hidden{
    display: none;
}
 section{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#btn_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: auto;
    padding: 0 25px;
}
.btn{
    background-color: var(--neutral);
    border: 2px solid var(--red); 
    border-radius: 50px;
    color: var(--red);
    font-weight: 900;
    font-size: 12px;
    padding: 10px 25px;
    cursor: pointer;
    transition-duration: .25s;
}
.active, .btn:hover{
    background-color: var(--red);
    color: var(--neutral);
}
.galleri{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1084px;
    margin: 50px 0;
}
h2{
    text-align: center;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px){
  .modal-content {
    width: 100%;
  }

/* ----- Desktop ----- */
@media screen and (min-width: 800px) {
    
    .btn{
        font-weight: bold;
        font-size: 14px;
        padding: 10px 45px;
        border: 2.5px solid var(--red); 
    }
}
</style>