---
import Layout from "../layouts/Layout.astro";
import GalleryCard from "../components/GalleryCard.astro";
import Button from "../components/Button.astro";
 
const url = "https://hvqqqwpdmwotjgxebrxv.supabase.co/rest/v1/someotherwaves";
const apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2cXFxd3BkbXdvdGpneGVicnh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU2MDY4NzQsImV4cCI6MjA0MTE4Mjg3NH0.K9dKO1K4NQBdSCsqBZHh1Yc4L8VNHDBNgRCzsI0fSSQ";
const data = await fetch(url, {
  headers: {
    apikey: apiKey
  }
}).then(res=>res.json())
---

<Layout>
    <section>
        <h1>Galleri</h1>
        <div class="btn_container">
            <button class="btn active" onclick="filterSelection('all')"> Alle</button>
            <button class="btn" onclick="filterSelection('wall')">Væg</button>
            <button class="btn" onclick="filterSelection('ceiling')">Loft</button>
            <button class="btn" onclick="filterSelection('collabs')">Sammarbejde</button>
            <button class="btn" onclick="filterSelection('products')">Produkter</button>
        </div>
        <div class="galleri">
            {
            data.map((painting) => <GalleryCard data={painting} />)
            }
        </div>
        <div class="cta">
            <h2>Drømmer du om et<br>evighedskunstværk?</h2>
            <Button>Se guiden</Button>
        </div>
    </section>
</Layout>

<style>
 section{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.btn_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.btn{
    background-color: var(--neutral);
    border: 2px solid var(--red); 
    border-radius: 50px;
    color: var(--red);
    font-weight: bold;
    font-size: 12px;
    padding: 10px 45px;
    cursor: pointer;
    transition-duration: .25s;
}
.active, .btn:hover{
    background-color: var(--red);
    color: var(--neutral);
}
.galleri{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1084px;
    margin: 50px 0;
}
h2{
    text-align: center;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}


</style>