---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout>
  <Button> <a href="/omos">Læs mere </a></Button>
</Layout>


<style>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="public/img/banner/cafeoscar.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/copenhagenoptic.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/dyrelaegaarden.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/gentofte.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/gentofteby.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/humanhouse.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/klint.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="public/img/banner/louievenner.svg" height="100" width="250" alt="" />
		</div>
	</div>
</div>

</style>