---
export const href = "/";
---

<button>
  <a href={href} class="destination">
    <slot />
  </a>
</button>

<style>
  button {
    background-color: var(--red);
    border-radius: 50px;
    border: 2px solid var(--red);
    padding: 10px 40px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--neutral); /* Ændrer baggrundsfarven */
  }

  button:hover a.destination {
    color: var(--red) !important; /* Ændrer farven på teksten */
  }

  a.destination {
    color: white !important; /* Standard farve på teksten */
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
  }

  @media (min-width: 769px) {
    button {
      font-size: 22px;
    }
  }
</style>
