---
export const href = "/";
---

<a href={href} class="destination">
  <slot />
  
</a>

<style>
  .destination {
    display: inline-block;
    background-color: var(--red);
    border-radius: 50px;
    border: 2px solid var(--red);
    padding: 10px 45px;
    cursor: pointer;
    text-decoration: none;
    color: white !important;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    font-size: 12px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .destination:hover {
    background-color: var(--neutral);
    color: var(--red) !important;
  }

  @media (min-width: 1000px) {
    .destination {
      font-size: 16px;
    }
  }
</style>
