<div class="faq_grid">
  <h1>Spørgsmål og svar</h1>

  <p>
    <b>Hvilken maling maler I med?</b><br />
    Vi maler med acryl-vægmaling fra Beck & Jørgensen med EU Ecolabel.
  </p>

  <p>
    <b>Maler I i hele Danmark?</b><br />
    Ja, vi tager offentlig transport rundt i hele landet og transportudgifterne kommer oveni den samlede pris. Vi køber de billigste billetter.
  </p>

  <p>
    <b>Hvad gør I for at være bæredygtige?</b><br />
    Vi maler kun på overflader allerede eksisterer, så vores kunst lever længst tid muligt. Derudover maler vi med maling som er certificeret som har mindst mulig belastning på naturen.
  </p>

  <p>
    <b>Kan man selv vælge baggrundsfarve?</b><br />
    Hvis du ønsker en bestemt baggrundsfarve, skal du selv have malet overfladen, inden vi kommer.
  </p>

  <p>
    <b>Hvad skal jeg have klar inden I kommer?</b><br />
    Du skal have dækket gulvet af omkring det sted vi skal male og sørget for stiger/evt. stillads.
  </p>

  <p>
    <b>Hvem sørger for materialer?</b><br />
    Det gør vi selv. Vi medbringer selv maling og pensler.
  </p>

  <p><b>Maler I også udendørs?</b><br />Nej, vi maler i øjeblikket ikke udendørs evighedskunstværker.</p>

  <p>
    <b>Hvor lang ventetid er der?</b><br />
    Du skal kontakte os 1-2 måneder før, så vi kan sætte en dato til af til dig.
  </p>
  <p><b>Kan man have indflydelse på farver og de motiver I maler?</b><br />Du kan sagtens få indflydelse på farvevalg. Hav gerne nogle screenshots af tidligere værker vi har malet klar til når vi kommer. Vi maler kun motiver inde for vores motivverden af menneskekroppe, haveelementer og organiske former. Dialog om farver sker på selve male-dagen.</p>
</div>
<img src="/public/svg/faq" alt="" />
<style>
  .faq_grid p {
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 300px;
  }
  .faq_grid {
    margin-top: 90px;
    margin-bottom: 10px;
    background-image: url("svg/faqmobil.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 240px 0;
  }
</style>
