<footer>
    <div class="social_links">
        <a href=""><img src="/public/svg/fb.svg" alt=""></a>
        <a href=""><img src="/public/svg/insta.svg" alt=""></a>
        <a href=""><img src="/public/svg/linkedin.svg" alt=""></a>
    </div>
    <div class="footer_links">
        <a href="index.astro">Home</a>
        <a href="galleri.astro">Galleri</a>
        <a href="omos.astro">Om Os</a>
        <a href="bestillingsguide.astro">Bestillingsguide</a>
    </div>
    <p>© 2024 Some Other Waves. All Rights Reserved</p>
</footer>



<style>
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .social_links{
        display: flex;
        gap: 30px;
    }
    .footer_links{
        font-family: "Source Sans 3", sans-serif;
        font-weight: bold;
        display: flex;
        gap: 32px;
    }
    /* a{
        text-decoration: none !important;
        color: #F3747B !important; 
    }

    p{
        font-family: "Source Sans 3", sans-serif;
        color: #484187;
    } */
/* ----- Desktop Verions ----- */
        @media (min-width:1000px){
            
        }
</style>