<footer>
  <div class="social_links">
    <a href=""><img src="/svg/fb.svg" alt="" /></a>
    <a href=""><img src="/svg/insta.svg" alt="" /></a>
    <a href=""><img src="/svg/linkedin.svg" alt="" /></a>
  </div>
  <div class="footer_links">
    <a href="/">Hjem</a>
    <a href="/galleri">Galleri</a>
    <a href="/omos">Om os</a>
    <a href="/bestillingsguide">Bestillingsguide</a>
  </div>
  <p>© 2024 Some Other Waves. All Rights Reserved</p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 100px;
  }

  .social_links {
    display: flex;
    gap: 30px;
  }
  .footer_links {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    display: flex;
    gap: 32px;
   
  }
  a{
    color: var(--red) !important;
    transition-duration: .2s;
  }
  a:visited {
    color: var(--red) !important;
  }
  a:hover{
    opacity: 50%;
  }

  img {
    border-radius: 0% !important;
  }
  /* a{
        text-decoration: none !important;
        color: #F3747B !important; 
    }

    p{
        font-family: "Source Sans 3", sans-serif;
        color: #484187;
    } */
  /* ----- Desktop Verions ----- */
  @media (min-width: 1000px) {
  }
</style>
